
@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ana Sayfa</h1>
<img src="~/Content/img/Satış-mı-Dediniz.jpg"  alt="resim" class="img-left"/ >
<p>iNTERNET ÜZERİNDEN SATIŞ </p>
