
@{
    ViewBag.Title = "Satış";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>
<p>22200₺</p>
<img src="~/Content/img/indir.jpg" alt="resim" class="img-left"/ >
<p>14000 ₺</p>
<img src="~/Content/img/samsung.jpg" alt="resim" class="img-circle"/ >


